<div class="mt-6 sm:mt-7">
  <%= render(SearchComponent.new(placeholder: "Search for movies or TV series")) %>
</div>

<section id="trending" class="mx-4 text-skin-background-text">
  <h2 class="mt-6 text-skin-background-text">Trending</h2>

  <div id="articles" class="flex">
    <% @trending.each do |show| %>
      <article class="">
        <h3><%= show.title %></h3>
        <%= show.year %>
        <%= show.category %>
        <%= show.rating %>
        <%= show.bookmarked %>
        <%= show.trending %>
      </article>
    <% end %>
  </div>
</section>

<section id="recommended" class="mx-4 mt-6 sm:mt-10 text-skin-background-text">
  <h2 class="text-skin-background-text">Recommended for you</h2>

  <div id="articles" class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4 sm:gap-x-7 sm:gap-y-8 lg:gap-x-10">
    <% @shows.each do |show| %>
      <article class="">
        <h3><%= show.title %></h3>
        <%= show.year %>
        <%= show.category %>
        <%= show.rating %>
        <%= show.bookmarked %>
        <%= show.trending %>
      </article>
    <% end %>
  </div>
</section>
