<div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="mt-12 mx-auto h-12 w-auto">
    <%= show_svg "logo.svg" %>
  </div>

  <div class="mt-14 p-6 mx-6 rounded-xl bg-skin-surface">
    <h2 class="heading-lg text-skin-background-text">
      Login
    </h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <fieldset class="">

        <div class="field">
          <%= f.label :email, class: "sr-only" %><br />
          <%= f.email_field :email,
                            autofocus: true,
                            autocomplete: "email",
                            class: "w-full input-base",
                            placeholder: "Email address" %>
        </div>

        <div class="field">
          <%= f.label :password, class: "sr-only" %><br />
          <%= f.password_field :password,
                               autocomplete: "current-password",
                               class: "w-full input-base",
                               placeholder: "Password" %>
        </div>

        <div class="actions mt-10">
          <%= f.submit "Login to your account", class: "w-full h-12 button-base" %>
        </div>
      </fieldset>
    <% end %>
    <div class="mt-6 flex justify-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
